<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  
    <!-- "Data Source=SQL5033.Smarterasp.net;Initial Catalog=DB_A0A5C4_tsola;User Id=DB_A0A5C4_tsola_admin;Password=YOUR_DB_PASSWORD;"  -->
   <connectionStrings>
    <add name="MagnaticKush"
         connectionString="Data Source=MAGNATICKUSH;Initial Catalog=DB_A0A5C4_tsola;User Id=sa;Password=sa@123;Pooling=False;"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>

    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>

</configuration>
